__pycache__/
*.pyc
error log.txt
times.txt
nmap udp scan on router results.txt
wireshark 2023-03-04.pcapng
arp a output.txt
Scanner/autopep8 cmd screenshot.txt
Scanner/packets.db
*.db-journal
known.txt
Scanner/test.db
