* {
    font-size: 16px;
}

table {
    background-color: black;
    margin: 10px;
    color: white;
    border-collapse: collapse;
    padding: 10px;
}

td {
    background-color: black;
}

table span {
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-left: 6px;
    align-items: center;
}

td > span {color: orange;}
td > span > span {color: forestgreen;}
td > span > span > span {color: firebrick;}
td > span > span > span > span {color: purple;}
td > span > span > span > span > span {color: white;}

div.limit-width {
    width: 600px;
    word-break: break-all;
}
