* {
    font-size: 16px;
}

table {
    background-color: black;
    margin: 10px;
    color: white;
    border-collapse: collapse;
    padding: 10px;
}

td {
    background-color: black;
}

table span {
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-left: 6px;
    align-items: center;
}

td > span {color: orange;}
td > span > span {color: forestgreen;}
td > span > span > span {color: firebrick;}
td > span > span > span > span {color: purple;}
td > span > span > span > span > span {color: white;}

div.limit-width {
    width: 600px;
    word-break: break-all;
}

h2 {
    margin-top: 30px;
}

h3 {
    margin-top: 20px;
}

h4 {
    margin-top: 10px;
}

.warning-icon {
    background-color: yellow;
    color: black;
    font-size: 30px;
    text-align: center;
}

.error-icon {
    background-color: red;
    color: black;
    font-size: 35px;
    text-align: center;
}

.question-icon {
    background-color: rgb(140, 0, 175);
    color: black;
    font-size: 25px;
    text-align: center;
}

